@{
    ViewData["Title"] = "GetToKnow";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1>Quick Links</h1>
    <p>
        <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    </p>
    <p>
        <a href="https://baconsale.com/">Baconsale</a>
    </p>
    <p>
		
    <a href="https://baconsale.com/">
        <img src="~/img/baconsalekate.jpg" />
    </a>
</div>